* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  color: #555;
  background-image: linear-gradient(to bottom right, #1864ab, #fe6893);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a5d8ff;
  background-color: #ffffffd6;
  padding: 0.8rem 4.8rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
}

.header p {
  font-size: 1.8rem;
  background-image: linear-gradient(to bottom right, #1864ab, #fe6893);
  background-clip: text;
  color: transparent;
  font-weight: 500;
  font-family: "Luckiest Guy", cursive;

  animation: moveInLeft 1.15s ease-in-out;
}

h1 {
  font-size: 4.2rem;
  color: #1864ab;
  cursor: pointer;
  transition: all 0.15s;
  background-image: linear-gradient(to bottom right, #1864ab, #fe6893);
  background-clip: text;
  color: transparent;
  font-family: "Luckiest Guy", cursive;

  animation: moveInRight 1.15s ease-in-out;
}

h1:hover {
  transform: skewX(8deg) skewY(4deg);
}

.logo {
  height: 10rem;

  animation: rotate 7s linear infinite 1.15s;
}

/* CONTAINER */
.container {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  max-width: 100rem;
  margin: 12rem auto 24rem auto;

  animation: start 1.15s ease-in;
}

.container-flex {
  display: flex;
  flex-direction: column;
  flex-basis: 40rem;
  flex-basis: 45rem;
  gap: 2rem;
}

/* FRIENDS LIST */
.friends-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  animation: none;
}

/* FRIEND */
.friend {
  background-color: #ffffff9c;
  padding: 2rem;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;

  animation: fadeIn 0.4s ease-in-out;
}

.friend:hover {
  background-color: #e7f5ff;
}

.friend-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}

.button-box {
  display: flex;
  gap: 1rem;
}

.green {
  color: green;
}

.red {
  color: rgb(214, 19, 19);
}

.even {
  color: #222;
}

/* FRIEND CLASSNAMES */

.friend-photo {
  border-radius: 50%;
}

.friend-name {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
  color: #333;
}

.friend-status {
  font-size: 1.5rem;
}

.btn {
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  padding: 0.8rem 1rem;
  background-color: #4dabf7;
  color: #fff;
  border: none;
  border-radius: 9px;
  transition: all 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #228be6;
  transform: scale(1.05) translateY(-0.1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.075);
}

.delete-btn {
  width: 7.2rem;
  background-color: #fe6893;
}

.delete-btn:hover {
  background-color: #e0527e;
}

/* ADD FRIENDS FORM */

.add-friends-form {
  font-size: 1.8rem;
  /* background-color: #e7f5ff; */
  background-color: #ffffff9c;
  color: #333;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 9px;
  font-weight: bold;
}

.add-friends-form input {
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #ffffff9c;
}

.add-friends-form input:focus {
  outline: 2px solid #74c0fc;
}

/* FOCUS STATES */

input:focus,
select:focus {
  outline: 2px solid #74c0fc;
}

/* *:focus */

.add-friends-form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-friends-form input {
  flex-basis: 20rem;
  border: 1.7px solid #74c0fc;
}

.add-friends-btn {
  width: 20rem;
  margin-left: auto;
  font-size: 1.6rem;
}

.form-flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  animation: fadeIn 0.4s ease-in-out;
}

.add-friends-close-btn {
  margin-left: auto;
  margin-right: 1rem;
  width: 7.2rem;
}

.select-btn {
  width: 7.2rem;
}

.btn-open-form {
  margin-left: auto;
}

/* INPUT BILL DATA FORM */
.input-bill-form {
  background-color: #e7f5ff;
  background-color: #ffffff9c;
  padding: 3.6rem;
  border-radius: 9px;
  font-weight: bold;
  flex: 1;
  color: #333;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;

  animation: fadeIn 0.4s ease-in-out;
}

.input-bill-form input,
.input-bill-form select {
  background-color: #ffffff9c;
}

/* FOR OPEN AND CLOSE BUTTONS */
.hidden {
  display: none;
}

.open {
  display: flex;
}

.active {
  background-color: #e7f5ff;
}

.heading-secondary {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #1864ab;
}

.split-user {
  background-image: linear-gradient(to bottom right, #1864ab, #fe6893);
  background-clip: text;
  color: transparent;
  font-size: 3.2rem;
  margin-left: 0.5rem;
}

.input-bill-form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-bill-form div input,
.input-bill-form div select {
  width: 15rem;
}

.input-bill-form input {
  flex-basis: 15rem;
}

.input-bill-form input,
.input-bill-form select {
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  border: 1.7px solid #74c0fc;
}

.input-bill-split-btn {
  margin-left: auto;
  width: 15rem;
}

input,
select {
  font-size: inherit;
  font-family: inherit;
  color: #555;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
  background-color: #a5d8ff;
  /* background-image: linear-gradient(to bottom right, #1864ab, #fe6893); */
  background-color: #fff;
  background-color: #ffffffd6;
  color: #555;
}

/* IMG GALLERY */
.img-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.075);

  animation: 55s slide infinite linear;
}

.brand-logo {
  height: 20rem;
  opacity: 0.5;
  display: block;
  filter: brightness(85%);
}

/* FOR ENTIRE UI */

@keyframes start {
  0% {
    opacity: 0;
    filter: blur(7px);
    transform: translateY(1.5rem) scale(1.02);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0) scale(1);
  }
}

/* FOR ADD FRIEND FORM */
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.5);
  }

  70% {
    opacity: 0.5;
    filter: blur(1px);
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(-25rem) rotate(180deg);
    opacity: 0;
    filter: blur(2px);
  }

  70% {
    transform: translateX(30rem);
    opacity: 0.6;
    filter: blur(1px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(25rem) rotate(-180deg);
    opacity: 0;
    filter: blur(2px);
  }

  70% {
    transform: translateX(-30rem);
    opacity: 0.6;
    filter: blur(1px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-80rem);
  }

  100% {
    transform: translateX(80rem);
  }
}
